<.header>
    This is the organization list
    <:subtitle> pouet </:subtitle>
</.header>

<.table 
    id="organizations_list" 
    rows={@organizations_list}
    rows={[%{name: "Test Org"}]}
    >
    <:col :let={organization} label="name">{organization.name}</:col>
</.table>
